body{background-color: greenyellow;
font-family: Arial,sans-serif;}
h1{color: blue;
    text-align:center;}
p*{font-size: 18px;
 line-height:1.6px;
}
img {
    border: 2px solid;
    padding: 10;
    width: 300;
} 

footer {
margin: 20px;
font-style: italic;
}